.switch {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding-bottom: 9px;
  
}

.forcast {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  width: calc(100vw - 20rem);
  overflow: auto;
  white-space: nowrap;
  padding-top: 10px;
  border-top:1px solid white
}

.forcast > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.forcast .time {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
}

.forcast p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.switch p {
    position: relative;
}

.switch p:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -10px;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .switch p:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

::-webkit-scrollbar {
    height: 6px;
    border-radius: 10%;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px white; 
    height: 1px;
  }
  ::-webkit-scrollbar-track-piece {
      height: 6px;
      border-radius: 6px solid black
  }
   
  ::-webkit-scrollbar-thumb {
    background: white; 
    border-radius: 6px solid black;
    height: 6px;

  }